.user-avatar {
    width: 64px; 
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .avatar-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .user-card {
    cursor: pointer;
  }
  
  .user-card mat-card-header {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  
  .mat-card-title,
  .mat-card-subtitle {
    overflow: hidden; 
    text-overflow: ellipsis;
  }
    