.user-info {
  max-width: 800px;
  margin: 0 auto;
}

.user-info-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.user-info-left {
  flex: 1;
  padding: 16px;
}

.user-info-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

mat-card {
  margin-top: 16px;
}
